<h2> Welcome to the Monitor of Personal Items </h2>

<h3>Please sign up or log in</h3>
<br>
<br>

<form  action="/login" method="post">
  <h4>Username:</h4>
  <input type="text" name="username"><br>
  <h4>Password:</h4>
  <input type="text" name="password"><br>
  <input type="submit" value="Submit">
</form>

<br>
<h3>OR</h3>

<h3><a href="/signup">Sign up here</a></h3>
