


<p>Fill out your own personal item.</p>
<form  action="/new" method="post">
  <p>Item Name:</p>
  <input type="text" name="item_name">
  <br/>
  <br/>
  <p>Item Amount($)</p>
  <input type="text" name="item_amount">
  <input type="submit" value="submit">
</form>
