<h1>Welcome to this sign up page</h1>
<br>

<form action="/signup" method="post">
  <h4>Username: <input type="text" name="username" required></h4>
  <h4>Password: <input type="text" name="password" required></h4>
  <input class="btn btn-primary" type="submit">
</form>

<br>

<a href="/">Back to home page.</a>
